body {
       #summer {
            color: rgb(14, 181, 242);
        }
          #winter {
         color: rgb(27, 207, 81);
        } 
          #sofi {
         color: rgb(178, 125, 237);
        }
         {
         background-color: rgb(255, 237, 214);   
        }
            
      
